

main {
    margin-top: 32px;
}

picture {
    display: flex;
}

.intro__img {
    width: 100%;
    height: auto;
}

.intro__heading {
    margin-top: 24px;

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;

    color: var(--dark-space-blue);
}

.intro__subheading {
    margin-top: 16px;

    /* We dive into the nex */

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;

    color: var(--gunmetal);
}

.intro__btn {
    margin-top: 24px;
    border: none;
    width: 185px;
    height: 48px;
    background-color: var(--light-vermillion);

    text-transform: uppercase;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4.375px;

    cursor: pointer;

    color: var(--dark-space-blue);

    transition: all .3s ease-in-out;
}

.intro__btn:hover {
    background-color: var(--dark-space-blue);

    color: var(--almost-white);
}

.new {
    margin-top: 64px;
    padding: 24px 20px 24px 21px;
    width: 100%;

    background-color: var(--dark-space-blue);
}

.new__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;

    color: var(--yellow);
}

.new__text-content {
    margin-top: 35px;

    display: flex;
    flex-direction: column;
    gap: 31px;
}

.new__group:not(:last-child) {
    padding-bottom: 29px;
    border-bottom: 1px solid var(--gunmetal);
}

.new__group-heading {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    color: var(--almost-white);
}

.new__group-subheading {
    margin-top: 8px;

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;

    color: var(--silver);
}

.cards {
    margin-top: 64px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

@media only screen and (min-width: 764px) {
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1440px) {
    main {
        margin-top: 55px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section {
        max-width: 1110px;

    }

    .intro {
        flex-basis: 730px;
    }

    .intro__img {
        width: 730px;
        height: 300px;
    }

    .new {
        margin-top: 0;
        margin-left: 30px;

        flex-basis: 350px;
    }

    .cards {
        margin-top: 71px;

        gap: 30px;
    }
}